.box-layout {
  align-items: center;
  background: url('/images/bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  padding: $s-size;
}

.box-layout-box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: 12px 15px;
  text-align: center;
  width: 42rem;
}

.box-layout-title {
  margin: 0;
}

.box-layout-subtitle {
  margin-top: 1rem;
}

.google-login-layout {
  display: flex;
  flex-direction: column;
  > p {
    margin: 10px 0;
    font-style: italic;
  }
}

.login-button-layout {
  display: flex;
  justify-content: flex-end;
}

.forgot-password-layout {
  > p {
    margin: 0 0 8px 0;
    line-height: 1;
  }
}