.button {
  background-color: $blue;
  border: none;
  border: 1px solid darken($blue, 5%);
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: darken($blue, 10%);
    border: 1px solid darken($blue, 15%);
  }
  &:disabled {
    background-color: transparentize($blue, 0.5);
    border: 1px solid transparentize($blue, 0.75);
    cursor: not-allowed;
  }
}

.google-button {
  @extend .button;
  background-color: $red-google;
  border: 1px solid darken($red-google, 5%);

  &:hover {
    background-color: darken($red-google, 10%);
    border: 1px solid darken($red-google, 15%);
  }
}

.facebook-button {
  @extend .button;
  background-color: $blue-facebook;
  border: 1px solid darken($blue-facebook, 5%);

  &:hover {
    background-color: darken($blue-facebook, 10%);
    border: 1px solid darken($blue-facebook, 15%);
  }
}

.button-normal {
  background-color: white;
  border: 1px solid rgba(50, 50, 50, 0.2);
  color: $dark-grey;
  border-radius: 3px;
  padding: $s-size $m-size;
}

.button-warning {
  background-color: #D9534F;
  border: 1px solid darken(#D9534F, 10%);
  border-radius: 3px;
  padding: $s-size $m-size;
}

.button-remove {
  background: #888;
}


.button-link-filters {
  background: none;
  padding: 0;
  color: $blue;
  font-size: $font-size-normal;
  transition: color 0.2s ease-in-out;
  font-weight: bold;
  border: none;
  
  &:hover {
    color: $mid-blue;
    background-color: transparent;
    border: none;
  }
  &:focus {
    outline: none;
  }
}

.button-link {
  background: none;
}

.logout-button {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
  border: none;
  
  &:hover {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    background-color: transparent;
    border: none;
  }
}

.login-button {
  @extend .button;
  width: 100%;
  @media (min-width: $desktop-breakpoint) {
    width: 140px;
  }
}

.signup-button {
  &:focus {
    outline: none;
  }
}

.reset-password-button {
  @extend .signup-button;
}

.link-email-button {
  @extend .signup-button;

  &.link-email-button-close {
    background: white;
    color: $grey;
    border: 1px solid rgba(50, 50, 50, 0.2);
  }
}