.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }
}

.form-error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

.signup-form-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.forgot-form-layout {
  @extend .signup-form-layout;
}

.signup-form {
  @extend .form;
  width: 40rem;
  padding: 0 $m-size;
  margin: 0 auto;
}

.forgot-form {
  @extend .signup-form;
}

.signup-form-title {
  text-align: center;
}

.forgot-form-title {
  @extend .signup-form-title
}

.signup-error {
  margin: 0;
  font-style: italic;
  color: darken(red, 3%);
}

.forgot-error {
  @extend .signup-error;
}