.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $s-size;
  }
  @media (min-width: $desktop-breakpoint) {
    > * {
      margin-bottom: $m-size;
    }
  }
}

.form-error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

// login form
.login-form {
  @extend .form;
  margin: 0 auto;
}

.login-error {
  @extend .signup-error;
}

// sign up form
.signup-form-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.signup-form {
  @extend .login-form;
}

.signup-form-title {
  text-align: center;
  margin: 12px 0;
}

.signup-error {
  margin: 0;
  font-style: italic;
  color: darken(red, 3%);
}

// forgot password form
.forgot-form-layout {
  @extend .signup-form-layout;
  align-items: stretch;
}

.forgot-form {
  @extend .signup-form;
  margin-top: 10%;
  width: 35rem;
}

.forgot-form-title {
  @extend .signup-form-title;
}

.forgot-error {
  @extend .signup-error;
}

.reset-success {
  background-color: $green-success-background;
  padding: 8px 12px;
  animation: fade 1s ease-in-out;

  .reset-success-message {
    color: $green-success-text;
    margin: 0;
  }

  .reset-success-title {
    line-height: 1;
    margin: 0;
    text-align: center;
    color: $green-success-text;
    font-weight: bold;
  }
}


// link email form
.link-email-form {
  @extend .signup-form;

  .link-email-header {
    margin-bottom: 8px;
    .link-email-title {
      border-bottom: 1px solid lighten($grey, 50%);
      margin: 0;
    }
  }

  .link-email-actions {
    display: flex;
    justify-content: space-between;

    button {
      flex-basis: 45%;
    }
  }
}

.link-email-error {
  @extend .signup-error;
}

.link-email-name-error-wrap {
  height: 18px;
  .link-email-name-error {
    @extend .signup-error;
    line-height: 1; // 16px
    margin-bottom: 2px;
  }
}

.link-email-success {
  @extend .reset-success;
  padding: 12px;

  .link-email-success-message {
    color: $green-success-text;
    margin: 5px;
  }

  .link-email-success-title {
    line-height: 1;
    margin: 0;
    text-align: center;
    color: $green-success-text;
    font-weight: bold;
  }
}


@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}