.header {
  background: $dark-blue;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size 0;
}

.header-title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header-secondary {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .link-account {
    justify-content: flex-end;
    button {
      font-size: $font-size-small;
      padding: 9px 8px;
    }
  }

  .header-greetings {
  color: white;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;

    .profile-pic {
      max-width: 100%;
      max-height: 100%;
      margin-right: $s-size;
    }
    
    .greeting-text {
      font-size: $font-size-small;
    }
  }
}

