.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
}

.error {
  border: 1px solid darken(red, 3%);
  &:focus {
    outline: none;
  }
}

.select {
  @extend .text-input;
}

.password {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}

// login form inputs
.login-text-input {
  @extend .text-input;
  height: 44px;
  padding: 6px 10px;
}

.login-password {
  @extend .login-text-input;
}

// sign up form inputs
.signup-text-input {
  @extend .login-text-input;
}

.signup-password {
  @extend .signup-text-input;
}

.signup-names {
  display: flex;
  flex-direction: column;
  .signup-text-input {
    margin-bottom: 12px;
  }
  .signup-text-input:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    .signup-text-input {
      width: 48%;
      margin: 0;
    }
  }
}

// forgot password form inputs
.forgot-text-input {
  @extend .login-text-input;
}

// link email form inputs
.link-email-names {
  display: flex;

  .link-email-name {
    .link-email-name-error-wrap {
      height: 18px;
      .link-email-name-error {
        @extend .signup-error;
        line-height: 1; // 16px
        margin-bottom: 2px;
      }
    }

    &:first-child {
      margin-right: 10px;
    }

    .link-email-name-input {
      @extend .login-text-input;
      width: 100%;
    }
  }
  
  @media(max-width: $desktop-breakpoint) {
    flex-direction: column;

    .link-email-name:first-child {
      margin: 0;
    }
  }
}


.link-email-text-input {
  @extend .signup-text-input;
}


.link-email-password {
  @extend .link-email-text-input;
}