.date-range-picker {
  
}

.DateRangePicker.DateRangePicker_1 {
  .DateRangePickerInput.DateRangePickerInput_1.DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2.DateRangePickerInput__showClearDates.DateRangePickerInput__showClearDates_3 {
    .DateInput.DateInput_1 {
      input {
      }
    }
  }
}



.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2 {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  .DateInput.DateInput_1 {
    width: 100%;
    input {
      border-top: 1px solid #cacccd;
      border-right: 1px solid #cacccd;
      border-left: 1px solid #cacccd;
    }
  }
}
