// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$mid-blue: #0c638e;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Font size
$font-size-large: 1.8rem;
$font-size-normal: 1.6rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;